.services {
	padding: 50px 0;
}
.services-section{
    padding: 100px 0;
} 
.service-item {
	text-align: center;
}

.service-item i {
	display: block;
	color: #c49812;
	font-size: 40px;
	margin-bottom: 10px;
}

.service-item h3 {
	margin-bottom: 30px;
}
